table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #cd5c5c;
}
/* .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.tabdata {
  margin-top: 100px;
}
