<div class="container-fluid">
  <div class="row">
    <div class=" col-xs-12">
      <ul class="nav nav-tabs">
        <li class="active">
          <a routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="active">
          <a routerLink="produts" routerLinkActive="active">Products</a>
        </li>
        <li class="active">
          <a routerLink="details" routerLinkActive="active">Details</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
